<div class="content-wrapper">
   <section class="content-header">
      <h1>
        Dashboard
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
   <section class="content">
      <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Notification</h3>
            </div>
            <div class="box-body">
              <h5 ng-if="notifications.length < 1">You don't have any notifications</h5>
              <ul class="list-group" ng-if="notifications.length > 0">
               <li class="list-group-item" ng-repeat="notification in notifications">
                 <span  ng-if="!notification.rejected">
                    <i>{{notification.from_name}}</i> has invited your for the event <b>{{notification.event_title}}</b> on {{notification.event_start | date:'dd/MM/yyyy @ h:mma'}}
                    <span class="pull-right"> 
                       <span class="fa fa-check-circle" style="padding-left:5px;" ng-click="acceptInvitation(notification);$event.stopPropagation()"></span>
                       <span class="fa fa-times-circle" style="padding-left:5px;" ng-click="rejectInvitation(notification)"></span>
                    </span>
                  </span>
                  <span ng-if="notification.rejected">
                    <i>{{notiification.from_name}}</i> has rejected your invitation for the event <b>{{notification.event_title}}</b> on {{notification.event_start | date: 'dd/MM/yyyy @ h:mma'}}
                    <span class="fa fa-check-circle" style="padding-left:5px;" ng-click="readNotification(notification);$event.stopPropagation()"></span>
                  </span>
               </li>
               

              </ul>
            </div>
         </div>
      </div>
      <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Messages</h3>
            </div>
            <div class="box-body">
              <h5 ng-if="notifications.length < 1">You don't have any new messages</h5>
              <h5 ng-if="notifications.length > 0">You have new messages </h5>
              <button class="btn btn-primary" ui-sref="mail.list.inbox" ng-if="notifications.length > 0"><span class='fa fa-envelope'></span> Check Mail</button>
              </ul> 
            </div>
         </div>
      </div>
      <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Chat</h3>
            </div>
            <div class="box-body">
              <button class="btn btn-primary" ui-sref="chat"><span class='fa fa-comments'></span> Open Chat</button>
              
              </ul>
            </div>
         </div>
      </div>
      <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Today's Events</h3>
            </div>
            <div class="box-body">
              <h5 ng-if="events.length < 1">You don't have any events</h5>
              <ul class="list-group" ng-if="events.length > 0">
               <li class="list-group-item" ng-repeat="event in events">You have an event titled <i>'{{event.title}}'</i> today.
               </li>
              </ul>
            </div>
         </div>
      </div>
      <div class="col-md-6">
      <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Your Projects</h3>
            </div>
            <div class="box-body">
              <h5 ng-if="events.length < 1">You don't have any Projects</h5>
              <ul class="list-group" ng-if="projects.length > 0">
               <li class="list-group-item" ng-repeat="project in projects">You have a project: <i>'{{project.title}}'</i> in progress.
               </li>
              </ul>
            </div>
         </div>
         </div>
   </section>
</div>