<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Add Project
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Tasks</li>
      <li class="active">Add new project</li>
    </ol>
  </section>
  <section class="content">
      
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Title</h3>
        </div>
        <div class="box-body">
          <input type="text" ng-model="currentEvent.title" class="form-control" placeholder="Enter name of the project" required/>
        </div>
      </div>
      
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Description</h3>
        </div>
        <div class="box-body">
          <input type="textarea" ng-model="currentEvent.desc" class="form-control" placeholder="Enter description of the project" required/>
        </div>
      </div>
      
      
      
  </section>
  
  </div>