<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Calendar -----------
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Calendar</li>
    </ol>
  </section>
  <div class="table-responsive mailbox-messages">
    <style>
    .highlight{
      font-weight: bolder !important;
    }
    </style>
      <table class="table table-hover table-striped" >
        <tbody>
          
        </tbody>
      </table><!-- /.table -->
    </div><!-- /.mail-box-messages -->
</div>