<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Mailbox
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Mailbox</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <a href="compose.html" ui-sref="mail.compose" class="btn btn-primary btn-block margin-bottom">Compose</a>
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Folders</h3>
            <div class="box-tools">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
              <li ng-class="{'active': isState('mail.list.inbox') }"><a ui-sref="mail.list.inbox"><i class="fa fa-inbox"></i> Inbox <span class="label label-primary pull-right" ng-if="unread.length > 0">{{unread}}</span></a></li>
              <li ng-class="{'active': isState('mail.list.sent') }"><a ui-sref="mail.list.sent"><i class="fa fa-envelope-o"></i> Sent</a></li>
              <li ng-class="{'active': isState('mail.list.draft') }"><a ui-sref="mail.list.draft"><i class="fa fa-file-text-o"></i> Drafts</a></li>
              <li ng-class="{'active': isState('mail.list.trash') }"><a ui-sref="mail.list.trash"><i class="fa fa-trash-o"></i> Trash</a></li>
            </ul>
          </div><!-- /.box-body -->
        </div><!-- /. box -->
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Labels</h3>
            <div class="box-tools">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
              <li><a ui-sref="mail.list.label({'label':'Important'})"><i class="fa fa-circle-o text-red"></i> Important</a></li>
              <li><a ui-sref="mail.list.label({'label':'Promotions'})"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
              <li><a ui-sref="mail.list.label({'label':'Social'})"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li>
            </ul>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
      <div class="col-md-9">
        <ui-view></ui-view>
        <!-- /. box -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->